# Cache
.eslintcache

# Node
/node_modules/

# no dependencies that are bundled ignore lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Avoid map folder
/maps/

# Custom type definitions, most are from "Autociv"
# https://github.com/nanihadesuka/autociv
**/*.d.ts
**/tsconfig.json
