# This workflow warns and then closes issues and pull-requests that have had no activity for a specified amount of time.
name: Stale Issues/ PRs

on:
  schedule:
  - cron: '0 6 * * 1'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

          # Settings for issues
          stale-issue-message: |
            A `stale` label has been added to this issue because it has been open for a while. To keep this issue open, add a comment within 10 days.
          close-issue-message: |
            This issue was closed because it has been stalled for a month with no activity.
          stale-issue-label: "Stale"
          # Keep the stale label for closed issues
          remove-issue-stale-when-updated: false
          exempt-issue-labels: "Bug,Critical,Nice to have,Should have"
          days-before-issue-stale: 20
          days-before-issue-close: 10

          # Settings for pull-request
          stale-pr-message: |
            A `stale` label has been added to this pull-request because it has been open for a while. To keep this PR open, add a comment or push a commit within 10 days.
          close-pr-message: This pull-request was closed because it has been stalled for a month with no activity.
          stale-pr-label: "Stale"
          # Keep the stale label for closed pull-requests
          remove-pr-stale-when-updated: false
          exempt-pr-labels: "Waiting for review"
          days-before-pr-stale: 20
          days-before-pr-close: 10
